/* styles.css */
.background {
  background-image: url('https://admision.uautonoma.cl/content/uploads/2023/07/ing-en-construccion.jpg');
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100%; /* Ocupa todo el ancho */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white; /* Cambia el color del texto si es necesario para que sea visible sobre la imagen */
}

.content {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad para que se vea la imagen de fondo */
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.message {
  font-size: 1.2rem;
  color: #666;
  margin: 10px 0;
}

.subMessage {
  font-size: 1rem;
  color: #999;
  margin: 10px 0;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #005bb5;
}